*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body, html{
    width: 100%;
    height: 100%;
    font-size: 15px;
}

body {
    background-image: linear-gradient(#636162, #b1afaf);
    font-weight: bold;
    letter-spacing: 2px;
}

.name-container{
    margin: auto;
    padding-top: 20px;
    margin-bottom: -50px;
    width: fit-content;
    height: 20%;
}

.name, title{
    font-size: 50px;
    font-weight: 10;
}

.title{
    font-size: 25px;
}

.skills-container{  
    margin-left: 15px;
}
.content-container{
    display: flex;
    height: 85%;

}
.main{
    background-color: white;
    /* The main container might edit this code later*/
    height: 100%;
    width: 650px;
    margin: auto;
}

.left{
    z-index: 0;
    color: aliceblue    ;
    background-color:rgb(46, 46, 85);
    width: 350px;
    padding-left: 25px;
    padding-right: 25px;
    height: 100%;
    align-self: flex-end;
    margin-left: 50px;
    border-radius: 10px;
}

.right{
    width: 450px;
    margin-left: 20px;
}

.heading-section{
    position: relative;

}

.heading{
    font-size: 18px;
    background-color: #7a7676;
    padding: 10px;
    color: aliceblue;    
    text-align: center;
    margin-bottom: 10px;
    margin-top: 20px;
}

.heading-left{
    padding-left: 20px;
    margin-right: -40px;
    margin-left: -75px;
}


.heading-left::after{
    content: '';
    position: absolute;
    /*Bandaid fix bc z-index doesn't want to work*/
    left: 257px;
    top: 41px;
    width: 15px;
    height: 19px;
    background: linear-gradient(to bottom right, #5b5555 0%, #5b5555 50%, rgb(255, 255, 255) 50%, rgb(255, 255, 255) 100%);
    /*
    Rotated cube using z index to cut parts off to make a triangle
    ...except z index doesn't wanna work
    width: 21px;
    height: 30px;
    background-color: #a2a1a1;
    left: 248px;
    top: 23px;
    transform: rotate(56deg);
    z-index: -1;
    */
}

.left-text{
    font-size: 13px;
    
}

.heading-right{
    margin-top: 30px;
    
}

.right-content{
    position: relative;
    width: 80%;
    margin-left: 20px;
}

.right-content::before{
    content: '';
    position: absolute;
    right: 246px;
    top: 18px;
    height: 90%;
    width: 2px;
    background-color: #4d4d4d;
}
.right-content-container{
    display: flex;
    font-size: 12px;
}

.right-inner-list{
    margin-left: 15px;
}


